if (article.comments.length > 0)
  h2.comments__title.title.title--middle Комментарии
  ul.comments__list
    each comment in article.comments
      li.comments__comment
        .comments__avatar.avatar
          img(src=`/img/${comment.users.avatar}` alt='аватар пользователя')
        .comments__text
          .comments__head
            p #{comment.users.firstName} #{comment.users.lastName} •
            time.comments__date(datetime='2019-03-21T20:33') #{formatDate(comment.createdAt)}
          p.comments__message #{comment.text}
