if comments.length > 0
  each comment in comments
    li.last__list-item
      img.last__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
      b.last__list-name #{comment.users.firstName} #{comment.users.lastName}
      a.last__list-link(href=`/articles/${comment.articleId}`) #{comment.text}
else
  p.last__empty Здесь пока ничего нет...
