extends layout.pug

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }

  main
    section.post
      h1.visually-hidden Пост
      section.post__content
        h2.visually-hidden Основное содержание
        .post__wrapper
          .post__head
            a.post__backwards.button.button--backwards(href='#') Назад
            time.post__date(datetime='2019-03-21T20:33') #{formatDate(article.createdAt)}
            h2.post__title.title.title--main #{article.title}

            ul.post__themes.themes
              each category in article.categories
                li.themes__item
                  a.themes__item-link(href='#')
                    | #{category.name}
                    sup 88
                  button.themes__remove-btn(type='button') Удалить категорию

          .post__picture
            img(src='/img/sea-fullsize@1x.jpg' alt='пейзаж море, скалы, пляж')

          .post__text
            h3 #{article.announce}
            p #{article.announce} #{article.fulltext}

      .post__wrapper.post__wrapper--comments
        section.post__comments.comments
          if (article.comments.length > 0)
            include partials/comment-list
          else
            h2.comments__title.title.title--middle Комментарии отсутствуют

          if user
            include partials/comment-add
          else
            include partials/comment-login
