extends layout-admin

block content
  -
    const formatDate = (dateString) => {
      const date = new Date(dateString);
      return date.toLocaleString();
    }

  main.main-page.main-page--padding
    section.main-page__publication.publication
      h1.publication__title Комментарии

      ul.publication__list
        each comment in comments
          li.publication__list-item
            .publication__header
              img.publication__list-image(src=`/img/${comment.users.avatar}` width='20' height='20' alt='Аватар пользователя')
              b.publication__list-name #{comment.users.firstName} #{comment.users.lastName}
              time.publication__item-time(datetime='2019-03-21T20:33') #{formatDate(comment.data)}
            a.publication__item-text(href=`/articles/${comment.articleId}`) #{comment.text}
            p.publication__text-strong #{comment.Article.title}
            button.publication__button.button.button--close-item.delete__button(type='button' data=`/my/${comment.articleId}/comments/${comment.id}`)
              span.visually-hidden Закрыть строку списка
