extends layout-article

block content
    main
      section
        .popup.popup--new-publication.popup--anti
          .new-publication
            form(action=`/articles/edit/${id}` method="post" enctype="multipart/form-data" autocomplete="off")
              input(type="hidden" name="_csrf" value=csrfToken)
              .new-publication__header
                h1 Редактирование публикации
                .new-publication__date-form
                  h3 Дата публикации
                  .new-publication__date-form-division
                    .new-publication__date-block
                      label(for='new-publication-date' aria-label='Календарь')
                      input#new-publication-date(type='text' name='date' placeholder='2019-03-21')
                button.new-publication__button.button.button--colored(type='submit') Опубликовать
              a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
                | Закрыть
                | окно
              .new-publication__form.form
                .form__wrapper.form__wrapper--intro
                  .form__field
                    label
                      input(type='text' name='title' placeholder='Заголовок' required='' value=articleData.title)
                      if validationObject
                        p.form__error-message #{validationObject.title}

                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type='text' name='photo' value=articleData.picture placeholder='Фотография' readonly='')
                      if validationObject
                        p.form__error-message #{validationObject.photo}

                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type='file' name='avatar')
                        | Обзор
                    button.button.button--transparent Удалить

                  .new-publication__category-wrapper
                    each category in categories
                        input#checkbox-auto(type='checkbox' name='categories' value=category.id checked=currentCategories.includes(String(category.id)))
                        label(for='checkbox-auto' value=category.id) #{category.name}
                    a.new-publication__form-link.button.button--transparent(href='/my/categories') Добавить категорию
                    if validationObject
                      p.form__error-message #{validationObject.categories}

                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='5' name='announce') #{articleData.announce}
                      if validationObject
                        p.form__error-message #{validationObject.announce}

                  .form__field.form__field--publication-text
                    label
                      textarea(rows='10' name='fulltext') #{articleData.fulltext}
                      if validationObject
                        p.form__error-message #{validationObject.fulltext}

            +insertErrorMessage(validationMessages)
